/* 
position -> 기존 위치를 바탕으로 무엇을 기준으로 해당 엘리먼트를 움직일 것인가를 정함.
  -> fixed인 경우 해당 엘리먼트는 스크롤을 내려도 항상 특정위치에 고정된다.

*/

@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

:root {
  font-size: 13px;
  font-weight: 400;

  --transition-speed: 600ms;
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;

}

body {

  background: #ad5389;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0 auto;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}


/* --------------------------------- Loader --------------------------------- */

.wrapper .loader-wrapper {
  width: 100%;
  height: 0%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  /* z-index: 4; */
}
.wrapper .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.wrapper .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* --------------------------------- Sidebar -------------------------------- */

.wrapper .sidebar * {
  padding: 0;
  z-index: 5;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  position: fixed;
  /* padding: 1em 0; */
  /* top: 10px; */
  background: #4b4276;
  transition: width 600ms ease;
  overflow: scroll;
  z-index: 5;
  top: 0;
  width: 4rem;
  padding: 30px 0;
  height: 100%;
  height: 94vh;
  border-radius: 10px;
  margin: 3vh 3vh;
}

.wrapper .sidebar:hover {
  width: 13rem;
}

.wrapper .sidebar .logo {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  display: flex;
  /* align-items:center; */
  /* justify-items: center; */
}

.wrapper .sidebar .logo-text {
  display: inline;
  position: absolute;
  font-size: medium;
  left: -999px;
  transition: var(--transition-speed);
  text-align: center;
  padding-left: 1.7em;
  /* margin-left: 0.5rem; */

}

.wrapper .sidebar:hover .logo-text {
  top:32px;
  left: -5px;
}

.wrapper .sidebar li .link-text {
  margin-left: 0.5rem;
  position: absolute;
  display: inline;
  opacity: 0;
  /* transition: opacity 1s ease-out; */
  height: 0;
  transition: visibility 0.5s, opacity 0.3s linear;
  position: absolute;
}


.wrapper .sidebar:hover li .link-text {
  opacity: 1;
}

.wrapper .sidebar svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.0rem;
}

.wrapper .sidebar ul .fas,
.fab {
  width: 1.5rem;
  min-width: 1rem;
  margin: 0 0.5rem;
}

.wrapper .sidebar ul{
  /* align-items:center; 
  justify-items: center;
  align-self: center;
  justify-self: center; */
  /* text-align: center; */
}
.wrapper .sidebar ul li{
  align-items:center; 
  justify-items: center;
  align-self: center;
  justify-self: center;
  /* text-align: center;*/
}
.wrapper .sidebar ul li a{
  align-items:center; 
  justify-items: center;
  align-self: center;
  justify-self: center;
  /* text-align: center; */
}



.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.wrapper .sidebar:hover .logo svg {
  transform: rotate(-180deg);
}

.wrapper .sidebar:hover .logo svg {
  margin-left: 9.7rem;
}

.wrapper .sidebar ul li {
  font-size: small;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 225.05);
}

.wrapper .sidebar ul li a {
  align-items: center;

  color: #bdb8d7;
  transition: var(--transition-speed);
  text-decoration: none;
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.wrapper .sidebar ul li a:hover {
  filter: grayscale(0%) opacity(1);
  /* background: var(--bg-secondary);
  color: var(--text-secondary); */
}

.wrapper .sidebar ul li a .fas,
.fab {
  /* width: 25px; */
}

.wrapper .sidebar ul li:hover {
  background: #594f8d;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  align-items: center;
}

.wrapper .sidebar .social_media a i {
  position: relative;
  top: 40%;
}

.wrapper .sidebar:hover .social_media {
  display: flex;
}


/* -------------------------------------------------------------------------- */
/*                           Contents Area (general)                          */
/* -------------------------------------------------------------------------- */

.wrapper .main_content {
  width: 100%;
  margin-left: 7rem;
  padding: 1rem;
  margin: 1rem 1rem 1rem 7rem;
}

.page {
  display: none;
}

/* To only show the active page, we need to add some styling to hide all pages that is not active */
.page.active {
  display: block;
}

.page h1 {
  padding-bottom: 1rem;
  /* transition: all 0.3s linear; */
  /* transform:translate(0); */
}

/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */


.toll {
  border: 1px solid grey;
  box-shadow: 5px 5px grey;
  border-radius: 10px;
  margin: 30px 10px;  
  padding: 10px;
}

.toll:hover {
  transition-duration: 0.5s;
  transform: scale(1.05);
}

.toll p {
  font-weight: 100;

}

.toll #p_a {
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
}

.toll #p_a p {
  margin: 0.3em 0;
}

.toll #p_a a {
  color: beige;
}



/* ------------------------------- photo grids ------------------------------ */

.photo-grid {
  display: grid;
  gap: 1rem;
  opacity: 1;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  transition: all 1s linear;
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .photo-grid .card-tall {
    /* start wherever, span 2 rows, and automatically end wherever,  */
    grid-row: span 2 / auto;
  }

  .photo-grid .card-wide {
    grid-column: span 2 / auto;
  }
}

.photo-grid .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flexbox의 중심축을 따라서 item들을 어떻게 정렬할 것인가 - 여기서는 center */
  align-items: center;
  background: #353535;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: all 500ms;

  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.photo-grid .card span {
  font-size: 1.2rem;
  margin: 8%;
  color: #FC466B;
  /* fallback for old browsers */
  color: -webkit-linear-gradient(to bottom, #3F5EFB, #FC466B);
  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to bottom, #3F5EFB, #FC466B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
  opacity: 1;
}

.photo-grid .card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(49, 60, 81, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
  cursor: pointer;
}


/* --------------------------- photo grid: content -------------------------- */

.grid-content-page {
  background: #353535;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 5px;
  background-color: #bdb8d7;
  color: #fff;
  transition: all 1s linear;
  list-style: circle;
  opacity: 1;
}


#article-wrapper>* {
  padding-bottom: 1rem;
  font-size: x-small;
  /* padding: initial; */
  /* margin: initial; */
}

#article-wrapper p,
#article-wrapper li {
  padding-bottom: 1rem;
  font-size: x-small;
}

#article-wrapper img {
  max-width: 60%;

}

.blur {
  opacity: 0;
  display: none;
}

#grid-blog {
  transition: all 1s linear;
  opacity: 1;
}

.hidden {
  transition: all 1s linear;
  visibility: hidden;
  position: absolute;
  left: -50em;
}

#backBtArticle {
  color: gainsboro;
  font-size: small;
  font-weight: 200;
}

#article-wrapper {
}

/* ------------------------------- travel note ------------------------------ */

#travel * {
  /* padding:0; */
  /* margin: 0; */
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  margin: auto;
}

.travelcards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.travelcard {
  display: block;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;

}

.travelcard h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.travelcard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.travelcard:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  border-radius: 5px;

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.travelcard ul {
  padding-left: 0;
}

.travelcard li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .travelcards {
    grid-template-columns: repeat(2, 1fr);
  }
  
  #tasks .travelcards {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}

@media (max-width: 500px) {
  .travelcards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  /* body {
    padding: auto;
  } */
  .travelcards {
    grid-template-columns: repeat(3, 1fr);
    /* background-color: #fff; */
    gap: 0.5rem;
    /* font-size: xx-small; */
  }
}

/* ---------------------------------- Task ---------------------------------- */


#tasks * {
  margin: 0;
}

#tasks button:hover {
  color: blue;
}

#tasks .travelcards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#tasks .travelcard {
  display: block;
  border: 0;
  cursor: pointer;
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
  height: 130px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* perspective: 1000px; */
  transition: all 1s ease-in-out;
}

#tasks .travelcard:hover {

  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
  /* cursor: pointer; */
  transition-duration: 0.5s;

}

/* Input Task */

#input-task {
  display: block;
  margin-bottom: 1em;
}

#tasks h3,
div label[for='new-task'] {
  color: #FFF;
  font-weight: 600;
  font-size: 23px;
  /* border-bottom: 2px solid #333; */
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

#tasks button {
  background: none;
  border: 0px;
  color: #FFF;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  cursor: pointer;
}

#tasks input[type="text"] {
  /* margin: 0; */
  font-size: 19px;
  line-height: 18px;
  height: 28px;
  padding: 12px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  color: #888;
}

#tasks input[type="text"]:focus {
  color: #333;
}

#tasks input#new-task {
  float: left;
  width: 318px;
}

label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

input#new-task {
  float: left;
  width: 318px;
}

#input-task>button:hover {
  color: #0FC57C;
}


/* incompleted tasks */

#incomplete-tasks {
  margin-bottom: 1em;
}

div.task-head {
  display: block;
  padding: 0em 1em;
}

div.task-head label {
  font-size: x-large;
}

div.task-option {
  display: block;
  float: right;
  position: fixed;
  bottom: 1em;
  right: 0.8em;
  /* padding:  0em 1em; */
}

div.task-option label {
  font-size: medium;
  color: white;

}

#tasks li .delete:hover {
  color: #CF2323;
}

/* completed tasks */

#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

#completed-tasks {
  opacity: 0.75;
}

#completed-tasks .travelcard {
  /* background: red; */
}

/* Edit Task */

#tasks ul li input[type=text] {
  display: none;
}

#tasks ul li.editMode input[type=text] {
  display: block;
  /* margin-left: 1em; */
}

#tasks ul li.editMode input[type=checkbox] {
  display: none;
}

#tasks ul li.editMode {
  display: block;
}

#tasks ul li.editMode label {
  display: none;
}


#tasks li {
  overflow: hidden;
  padding: 20px 0;
  /* border-bottom: 1px solid #eee; */
}

#tasks li input[type="checkbox"] {
  transform: scale(1.3);
  margin-right: 0.5em;

}

#tasks li>label {
  /* width: 237px; */
  /* padding: 0 0 0 11px; */
}

@media (max-width: 900px) {
  /* body {
    padding: auto;
  } */
  #tasks .travelcards {
    grid-template-columns: repeat(3, 1fr);
    /* background-color: #fff; */
    gap: 0.5rem;
  }
  #tasks .travelcards .task-head * {
    font-size: larger;
  }
  
  #tasks .travelcards .task-option * {
    font-size: smaller;
    margin: 0;
    
  }
  
  
}
@media (max-width: 500px) {
  /* body {
    padding: auto;
  } */
  #tasks .travelcards {
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #fff; */
    gap: 0.3rem;
  }
  #tasks .travelcards .task-head * {
    font-size: medium;
  }
  #tasks .travelcards .task-option * {
    font-size: x-small;
    margin: 0;
  }
  
  
  
}

/* ---------------------------------- about --------------------------------- */

#about #pic-name {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#about #pic-name img {
  height: 150px;
  border-radius: 50%;
  border: 5px solid #FEDE00;

}

#about #pic-name span {
  display: inline-block;
  font-weight: 300;
  padding-left: 2em;

}

#about #biography {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  align-items: flex-start;
  /* width: 200px; */

}

/* -------------------------------------------------------------------------- */
/*                                 Readme page                                */
/* -------------------------------------------------------------------------- */

#readme #readme-page {
  padding: 1em 2.5em;
  font-size: xx-small;
  border-radius: 1em;
  background: rgba(40, 120, 56, 0.3);
}

#readme img {
  /* width: 100%; */
  height: 300px;
  /* object-fit: cover; */
  border-radius: 5px;
}

#readme #readme-page #readme-head>* {
  opacity: 1;
}

/* -------------------------------------------------------------------------- */
/*                                 Components                                 */
/* -------------------------------------------------------------------------- */

.click-me {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background: orange;
  color: black;
  text-decoration: none;
  box-shadow: 5px 5px grey;

  margin: 0 0 3px 0;
}

.click-me:hover {
  margin: 3px 0 0 3px;
  box-shadow: 2px 2px grey;
}